/* FONTS */

/* font-family: 'Bruno Ace SC', cursive;
font-family: 'Playfair', serif;
font-family: 'Playfair Display', serif */


* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-letras: #fff;
    --cor-letra-preto: #000000;
    --cor-pag1-h1-span: #158495;
    --cor-icons: #fff;
    --cor-letra-footer: #949494;
    --cor-pag-conteudo: #2e2e2e;
    --pag-conteudo-2: #d8d8d8;
}

.pag-1 {
    background: linear-gradient( -45deg, #403A3E, #46628adb, #403A3E, #b15968);
    background-size: 400% 400%;
    animation: gradient 16s ease infinite;
    height: 100vh;
    color: var(--cor-letras);
}

.pag-1 h1 {
    font-size: 50px;
    padding-left: 100px;
    padding-top: 15%;
    font-family: 'Playfair Display', serif;
}

.pag-1 h1 span {
    text-shadow: 2px 2px var(--cor-letras);
    color: var(--cor-pag1-h1-span);
}

.pag-1 h2 {
    padding-left: 100px;
}

.pag-2 {
    height: 100vh auto;
    background-color: #1f1c1e;
}

.text-pag-2 {
    padding-top: 40px;
    padding-bottom: 70px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: var(--cor-letras);

}

.grid-XP {
    display: grid;
    justify-content: center;
    padding-bottom: 80PX;
    column-gap: 40px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, 300px);
}

.box-xp {
    padding: 15px;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    transform: translate(-5%, -5%);
    transition: transform 0.2s;
    color: var(--cor-icons);
}

.box-xp:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: #0d0d0d; */
    border: 2px solid #fff;
    top: 0;
    left: 0;
  }

.box-xp:hover {
    transform: translate(0, 0);
}

.box-xp i {
    font-size: 60px;
    color: var(--cor-icons);
}

.box-xp h1 {
    font-size: 28px;
    padding-left: 10px;
    color: var(--cor-icons);
}

.pag-conteudo {
    height: auto;
    padding: 30px 0 200px 0;
    background-color: var(--cor-pag-conteudo);
}

.pag-conteudo i {
    color: var(--cor-icons);
    display: flex;
    float: right;
    padding-right: 150px;
    font-size: 40px;
}

.pag-conteudo p {
    text-align: center;
    color: var(--cor-letras);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 25px;
    font-size: 20px;
}

.pag-conteudo h1 {
    padding: 35px 0 0 0;
    text-align: center;
    font-family: 'Playfair', serif;
    color: var(--cor-letras);
}

.pag-conteudo-2 {
    height: 100vh auto;
    padding-bottom: 50px;
    background-color: var(--pag-conteudo-2);
}

.grid-conteudo-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.pag-conteudo-2 h1 {
    color: #158495;
    padding: 30px 0 30px 0 ;
    text-align: center;
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

.pag-conteudo-2 .formacao h2 {
    padding-bottom: 30px;
}

.pag-conteudo-2 .experiencia h2 {
    padding-bottom: 30px;
}

.pag-conteudo-2 .cursos h2 {
    padding-bottom: 30px;
}

.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;
  }
  

  .active, .accordion:hover {
    background-color: #ffffff;
  }
  
  .panel {
    width: 80%;
    margin: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #000000;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }





@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 24px;
}

.navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    margin-right: 20px;
}

.navbar-list li:hover {
    transform: scale(1.1);
}

.navbar-list li:last-child {
    margin-right: 0;
}

.navbar-list a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.navbar-toggler {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media screen and (max-width: 768px) {
    .navbar-list {
        display: none;
        flex-direction: column;
        /* background-color: #46628adb; */
        position: absolute;
        top: 42px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .navbar-list.active {
        display: flex;
    }

    .navbar-toggler {
        justify-content: space-between;
        display: flex;
    }

    .navbar {
        color: #fff;
        display: flex;
        /* background-color: #8196b3db; */
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .navbar-list li {
        margin-right: 0;
        padding: 5px 5px 5px 5px;
    }

    .navbar-list li:last-child {
        margin-right: 0;
    }

    .pag-1 h1 {
        font-size: 40px;
        padding-left: 30px;
        padding-top: 110px;
    }

    .pag-1 h2 {
        padding-left: 30px;
    }

    .grid-conteudo-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
}


@media screen and (max-width: 550px) {
    .grid-conteudo-2 {
        display: grid;
        grid-template-columns: 350px;
        padding-left: 0;
        padding-right: 0;
    }
}



footer {
    background-color: #272424;
    height: 60vh auto;
}

#grid-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    column-gap: 40px;
    justify-content: space-between;
    color: aliceblue;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.box-1, .box-2 {
    text-align: center;
}

.box-1 h2 {
    color: var(--cor-letras);
    font-size: 24px;
    padding: 34px 0 34px 0;
}

.box-2 h2 {
    color: var(--cor-letras);
    font-size: 24px;
    padding: 34px 0 34px 0;
}

.box-1 h3 {
    color: var(--cor-letra-footer);
    font-size: 20px;
}

.box-1 h3 span {
    padding-right: 8px;
    font-size: 22px;
    color: var(--cor-letras);
}

.box-2 i {
    color: var(--cor-letra-footer);
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 30px;
    float: left;
    display: flex;
}

.box-2 i:hover {
    cursor: pointer;
}

.box-2 .icons-footer {
    display: flex;
    justify-content: center;
}

footer h2 {
    text-align: center;
    color: var(--cor-letra-footer);
    font-size: 15px;
    padding: 8px 0 8px 0;
}

footer h2 span{
    color: var(--cor-pag1-h1-span);
}





