/* FONTS */

/* font-family: 'Bruno Ace SC', cursive;
font-family: 'Playfair', serif;
font-family: 'Playfair Display', serif */


* {
    margin: 0;
    padding: 0;
}

.pag-1 {
    background: linear-gradient( -45deg, #403A3E, #b15968, #403A3E, #b15968);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color: aliceblue;
}

.pag-1 h1 {
    font-size: 40px;
    padding-left: 50px;
    padding-top: 15%;
    font-family: 'Bruno Ace SC', cursive;
}
.pag-1 h1 span {
    padding-left: 60px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav {
    display: flex;
    justify-content: center;
}

nav ul li {
    font-family: 'Playfair', serif;
    list-style-type: none;
    float: left;
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 17px;
    
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

