* {
    margin: 0;
    padding: 0;
}

#container {
    background: linear-gradient( -45deg, #403A3E, #BE5869, #403A3E, #BE5869);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header h1 {
    color: #fff;
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}

.conteudo {
    padding-top: 40px;
    padding-bottom: 40px;
}

.conteudo ul li {
    color: #fff;
    padding-left: 30px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;

}

.conteudo2 {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 30px;
    color: #fff;
}

.conteudo2 h2 {
    padding-bottom: 20px;
}

.conteudo2 p {
    font-size: 18px;
}

.conteudo3 {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 30px;
    color: #fff;
}

.conteudo3 h2 {
    padding-bottom: 20px;
}

.conteudo3 ul li {
    font-size: 18px;
}

.conteudo4 {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 30px;
    color: #fff;
}

.conteudo4 p {
    font-size: 18px;
}

.conteudo4 h2 {
    padding-bottom: 20px;
}